@import "normalize.css";

a, a:visited {
	color: #255A9B;
	text-decoration: none;
	/*font-weight: bold;*/
	font-size: 18px;
}

body {
	font: 1.4rem "Candara", sans-serif;
}

h1 {
	text-align: center;
}

.links-card {
	border: 1px solid black;
	border-radius: 10px;
	margin: 30px auto;
	width: 70%;
	text-align: center;
	padding: 0;
}

.button {
	width: fit-content;
	height: fit-content;
	padding: 10px;
	margin: 10px;
	color: tomato;
	background-color: rgb(40, 39, 38);
}

.button-wrapper {
	display: flex;
	justify-content: center;
}