@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
	box-sizing: border-box;
	/*background-color: #442121;*/
	
}

*, *:before, *:after {
	box-sizing: inherit;
}

body * {
	margin: 0;
	padding: 0;
}

ul, li, a {
	list-style: none;
	text-decoration: none;
}

.page-wrapper {
	font-family: Raleway, Helvetica, sans-serif;
	display: flex;
	flex-flow: column;
	width: 85%;
	margin: 0 auto;
	background: url("../imgs/Masha/boom.png") no-repeat;
	background-size: 0 0;
}

.page-title {
	font-size: 3em;
	text-align: center;
}

/* Menu */
.menu {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin-bottom: 5px;
}

.menu__item {
	font-size: 1.0em;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 110px;
	height: 50px;
	margin: 5px;
	color: #0076B6;
}

.menu__item--active {
	font-size: 1.05em;
	font-weight: bold;
	color: #0fbf90;
}

.menu__cat {
	position: absolute;
	display: flex;
	background: url("../imgs/Masha/cat-logo.svg") no-repeat;
	background-size: 80px 110px;
	opacity: 30%;
	width: 80px;
	height: 110px;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.menu::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom: #000 3px solid;
}

.boom {
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}

/* Album */
.album {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.album__fullsize-vid-wrapper,
.album__fullsize-img-wrapper {
	display: flex;
	height: 310px;
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.album__fullsize-preview {
	min-height: 310px;
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.album__fullsize-wrapper--hidden {
	display: none;
}

.album__fullsize-description {
	display: flex;
	margin: 0.8em auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 100%;
	min-height: 75px;
	font-size: 1.3em;
}

.album__thumbnails-panel {
	display: flex;
	flex-flow: row wrap;
	max-width: 800px;
	margin: 0 auto;
	justify-content: space-around;
}

.album__thumbnail {
	height: 75px;
	width: 75px;
	border-radius: 30%;
	object-fit: cover;
	margin: 5px;
	transition-property: scale, opacity;
	transition-duration: 0.15s;
	transform-origin: center;
}

.album__thumbnail:hover,
.album__thumbnail:focus {
	scale: 1.1;
	opacity: 50%;
	filter: blur(0.5px);
}



/* Footer */
.footer {
	font-weight: bold;
	margin-top: 50px;
	padding: 20px;
	text-align: center;
}