@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body * {
	margin: 0;
	padding: 0;
}

ul, li, a {
	list-style: none;
	text-decoration: none;
}

.page-wrapper {
	font-family: Raleway, Helvetica, sans-serif;
	display: flex;
	flex-flow: column;
	width: 85%;
	margin: 0 auto;
	background: url("../imgs/boom.png") no-repeat;
	background-size: 0 0;
}

.page-title {
	font-size: 3em;
	text-align: center;
}

/* Menu */
.menu {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin-bottom: 5px;
}

.menu__item {
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 50px;
	margin: 5px;
	color: #0076B6;
}

.menu__item:first-child {
	margin-left: 80px;
}

.menu__item--active {
	font-size: 1.4em;
	font-weight: bold;
	color: #0fbf90;
}

.menu__cat {
	position: absolute;
	display: flex;
	background: url("../imgs/cat-logo.svg") no-repeat;
	background-size: 80px 110px;
	width: 80px;
	height: 110px;
	left: 0;
	bottom: 0;
}

.menu::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom: #000 3px solid;
}

.boom {
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}


/* Album */
.album {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.album__item {
	display: flex;
	overflow: clip;
	align-items: center;
	flex-flow: column;
	width: 210px;
	height: 280px;
	margin-bottom: 20px;
	border-bottom: 3px solid tomato;
	border-radius: 10px;
}

.album__image {
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 5px;
	border-radius: 35px;
	object-fit: cover;
}

.album__caption {
	max-width: 90%;
	margin-top: auto;
	margin-bottom: 10px;
	text-align: center;
}


/* Footer */
.footer {
	font-weight: bold;
	margin-top: 50px;
	padding: 20px;
	text-align: center;
}