body {
	margin: 0;
	padding: 0;
	
	font-size: 14px;
	font-family: "PT Sans", sans-serif;
}

.share {
	width: 270px;
	margin: 120px auto 0;
	padding: 10px 10px 10px 20px;
	
	background-color: #ecf0f1;
}

.share b {
	margin-right: 15px;
	
	font-weight: normal;
	color: #7f8c8d;
	text-transform: uppercase;
}

.social {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #bdc3c7;
	margin-right: 10px;
	vertical-align: middle;
}

/*Paginator*/
.paginator {
	width: 280px;
	margin: 30px auto;
	padding: 10px;
	white-space: nowrap;
	background-color: #ecf0f1;
}

.paginator a,
.paginator span {
	display: inline-block;
	min-width: 20px;
	height: 40px;
	padding: 0 10px;
	
	text-align: center;
	/*line-height: 40px;*/
	background-color: #95a5a6;
	vertical-align: middle;
	font-weight: bold;
	text-decoration: none;
	color: white;
}