body {
	background-color: #393939;
	color: gainsboro;
	margin: 0;
	padding: 20px;
}

.outer {
	background-color: #3698FB;
	width: 400px;
	height: 400px;
}

.inner {
	background-color: tomato;
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align: middle;
}

.outer-wrapper {
	display: table;
}

.outer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.expand {
	display: block;
	position: relative;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);
	border-bottom: 2px #00ffbc solid;
	border-right: 2px #00ffbc solid;
}

.expand::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 6px;
	display: block;
	width: 5px;
	height: 5px;
	border-bottom: 2px #00ffbc solid;
	border-right: 2px #00ffbc solid;
}