body {
	font-family: "Georgia", serif;
}

/*Resetting values*/
html {
	font-family: "TT Lakes", Arial, sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul,
li,
body,
p,
button {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	font: inherit;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

/* Logo Slider */
.brands-repair-list {
	position: relative;
}

.brands-repair-list__card--lenovo {
	background: url('../imgs/logos/Lenovo.svg') no-repeat;
}

.brands-repair-list__card--samsung {
	background: url('../imgs/logos/Samsung.svg') no-repeat;
}

.brands-repair-list__card--apple {
	background: url('../imgs/logos/Apple.svg') no-repeat;
}

.brands-repair-list__card--viewsonic {
	background: url('../imgs/logos/ViewSonic.svg') no-repeat;
}

.brands-repair-list__card--bosch {
	background: url('../imgs/logos/Bosch.svg') no-repeat;
}

.brands-repair-list__card--hp {
	background: url('../imgs/logos/HelpPlease.svg') no-repeat;
}

.brands-repair-list__card--acer {
	background: url('../imgs/logos/Acer.svg') no-repeat;
}

.brands-repair-list__card--sony {
	background: url('../imgs/logos/Sony.svg') no-repeat;
}

.brands-repair-list__card {
	display: flex;
	position: relative;
	flex: 0 0 238px;
	height: 72px;
	/*margin-right: 16px;*/
	border: 1px red solid;
	background-color: #fff !important;
	background-position: 20px center;
}

.brands-repair-list__title {
	margin: 16px auto 40px 32px;
	text-transform: uppercase;
}

.brands-repair-list__more-btn {
	margin-left: 48px;
	margin-top: 24px;
	background-color: #f8f8f8;
	position: relative;
}

.brands-repair-list__more-btn::before {
	content: '';
	position: absolute;
	left: -12px;
	top: 3px;
	height: 5px;
	width: 5px;
	rotate: 45deg;
	box-shadow: 1px 1px 0 0 #5df6dc,
	3px 3px 0 0 #f8f8f8,
	4px 4px 0 0 #5df6dc;
}

.brands-repair-list__less-btn {
	margin-left: 48px;
	margin-top: 24px;
	background-color: #f8f8f8;
	position: relative;
}

.brands-repair-list__less-btn::before {
	content: '';
	position: absolute;
	left: -12px;
	top: 13px;
	height: 5px;
	width: 5px;
	rotate: 225deg;
	box-shadow: 1px 1px 0 0 #5df6dc,
	3px 3px 0 0 #f8f8f8,
	4px 4px 0 0 #5df6dc;
}

.brands-repair-list--wide-screen {
	display: flex;
	/*flex-wrap: wrap;*/
	width: 100%;
	/*margin-left: 32px;*/
	overflow: hidden;
}