body {
    background-color: #393939;
    color: gainsboro;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.page-header {
    display: grid;
    grid-template-columns: 102px 1fr;
}

.page-header a,
.page-header h1,
.page-header span {
    border: 1px red solid;
    margin: auto 0;
}